
@font-face {
  font-family: "mont-extralight";
  src: url("../../../themes/urbak/fonts/MontDemo-ExtraLight.otf") format("opentype");
  display: block;
}
@font-face {
  font-family: "satoshi";
  src: url("../../../themes/urbak/fonts/Satoshi-Variable.ttf") format("opentype");
  display: block;
}
@font-face {
  font-family: "mont-heavy";
  src: url("../../../themes/urbak/fonts/MontDemo-Heavy.otf") format("opentype");
  display: block;
}