body {
    &.search-menu-open {
        overflow: hidden;
        .search-background {
            display: block;
        }
        .extra-search {
            display: flex;
        }
        .search-icon {
            .search-menu-trigger-close {
                display: block;
            }
            .search-menu-trigger-open {
                display: none;
            }
        }
    }
    .search-menu-trigger-close {
        display: none;
    }
}
.extra-search {
    display: none;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    .extra-search-content {
        position: relative;
        max-width: 500px;
        padding-right: 50px;
    }
    input {
        width: 100%;
        border: none;
        padding: 5px 15px;
        font-size: 20px;
        font-family: satoshi;
        border-bottom: 1px solid #000;
    }
    .search-input-icon {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 30px;
        height: 30px;
        filter: invert(1);
        cursor: pointer;
        background: none;
        border: none;
        &:hover {
            opacity: 0.4;
        }
    }
}
.search-background {
    display: none;
    .search-background-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding-top: 220px;
        min-height: 100px;
        background: #fff;
    }
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: "mont-extralight";

    .header-logo {
        padding-right: 15px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        ul {
            display: block;
            li {
                display: inline-block;
                line-height: 50px;
                margin: 0 15px;
                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .header-icons {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        align-items: center;
        .search-icon {
            padding-right: 20px;
            img {
                height: 30px;
                object-fit: contain;
                cursor: pointer;
            }

            &:hover {
                img {
                    opacity: 0.7;
                }
            }
        }
        .cart-icon {
            position: relative;
            cursor: pointer;
            .cart-icon-img {
                position: relative;
                z-index: 6;
                &.cart-icon-img-filter {
                    filter: invert(1) !important;
                }
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
.fs-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: none;
    &.is-open {
        display: flex;
    }
}

.fsmenu-list-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 80px;
    background-color: #000;
}
.fsmenu-infos {
    flex: 0 0 270px;
    font-family: satoshi;
    font-size: 25px;
    padding: 150px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fsmenu-list {
    flex-grow: 1;
    ul {
        &.is-hover {
            li.current_page_item {
                a {
                    // &:not(:hover) {
                    //     opacity: 0.2;
                    // }
                    &::before {
                        content: none;
                    }
                }
            }
        }
        li {
            position: relative;
            max-width: 600px;
            list-style: none;
            margin-bottom: 30px;
            padding-right: 50px;

            &:hover {
                &::before,
                &::after {
                    content: "";
                }
            }

            &:before {
                position: absolute;
                left: 100%;
                width: 36vh;
                height: 36vh;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &.acceuil-menulink,
            &.contact-menulink {
                &:before {
                    content: none;
                }
            }

            &.reparation-menulink {
                &:before {
                    background-image: url(../images/reparation-menu.jpg);
                }
            }
            &.acheter-menulink {
                &:before {
                    background-image: url(../images/acheter-menu.jpg);
                }
            }
            &.vendre-menulink {
                &:before {
                    background-image: url(../images/vendre-menu.jpg);
                }
            }
            &.assurance-menulink {
                &:before {
                    bottom: -20%;
                    background-image: url(../images/assurances-menu.jpg);
                }
            }
            &.accessoires-menulink {
                &:before {
                    bottom: -10%;
                    background-image: url(../images/accessoires-menu.jpg);
                }
            }
            &.current_page_item {
                a {
                    opacity: 1;
                    text-decoration: underline;
                    &:after,
                    &:before {
                        content: "";
                    }
                }
            }
            a {
                position: relative;
                opacity: 0.2;
                color: white;
                text-decoration: none;
                font-size: calc(3vh + 3vw);
                font-family: mont-heavy;
                line-height: 1;
                &:hover {
                    text-decoration: underline;
                    color: rgb(58, 58, 58);
                    opacity: 1;
                    &:after,
                    &:before {
                        content: "";
                    }
                }
                &:before {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    left: 100%;
                    background-image: url(../../../themes/urbak/images/arrow-menu.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    height: 100%;
                    margin-left: 20px;
                }
                .main-menu-text {
                    display: none;
                }
            }
        }
    }
}
.fsmenu-close {
    flex: 0 0 55px;
    span {
        color: #fff;
        font-family: satoshi;
        font-size: 20px;
        border-bottom: 1px solid white;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
}
.fsmenu-languages {
    display: none;
    flex-grow: 1;
    align-items: center;
}
.fsmenu-logo {
    padding-top: 35px;
}
.fsmenu-telephone {
    padding-top: 25px;
}
.fsmenu-email {
    padding-top: 25px;
}
.fsmenu-address {
    padding-top: 25px;
}
.fsmenu-social {
    display: flex;
    padding-top: 25px;
    .fsmenu-insta {
        margin-right: 25px;
        img {
            height: 30px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .fsmenu-fb {
        img {
            height: 25px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

// body {
//     &.woocommerce {
//         .header-wrapper {
//             .header-logo,
//             .search-icon,
//             .cart-icon {
//                 img {
//                     filter: invert(1);
//                 }
//             }
//             .header-menu {
//                 ul {
//                     li {
//                         a {
//                             color: #000;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.woocommerce-navigation {
    background: #000;
    color: #fff;
    font-family: satoshi;
    font-size: 20px;
    padding-top: 270px;
    padding-bottom: 50px;
    .bck-btn{
        padding-bottom: 30px;
    }
}
.navigation-bar {
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff70;
}
.nav-one-tab {
    flex: 0 0 14.1%;
    display: flex;
    justify-content: center;
    &:first-child {
        justify-content: flex-start;
        border-bottom: 1px solid white;
    }
    &:last-child {
        justify-content: flex-e;
    }
    .bck-btn {
        padding-bottom: 30px;
    }
}
.cart-icon-img-count {
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    top: 0;
    right: 0;
    z-index: 6;
    color: #fff;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 100%;
    font-family: satoshi;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
}
body {
    &.single-product,
    &.woocommerce-cart,
    &.woocommerce-checkout,
    &.woocommerce,
    &.wocommerce-checkout,
    &.search-menu-open,
    &.search {
        margin-top: 220px;
        padding-top: 30px;
        .header-wrapper {
            .header-logo {
                img {
                    filter: invert(1);
                }
            }
            .header-icons {
                .search-menu-trigger-open,
                .search-menu-trigger-close,
                .cart-icon-img {
                    filter: invert(1);
                }
            }
            .header-menu {
                ul li a {
                    color: black;
                    &:hover {
                        color: #333;
                        opacity: 1;
                    }
                }
            }
        }
        .header-extra-menu .extra-menu {
            color: black;
            &:hover {
                color: #333;
                opacity: 1;
            }
        }
    }
    
   
    &.page-id-185,
    &.page-id-201,
    &.page-id-210,
    &.page-id-220,
    &.page-id-201,
    &.page-id-210,
    &.category_parent_smartphone,
    &.category_parent_laptops,
    &.category_parent_tablets {
        .header {
        
            background-color: black;
        }
        .header-wrapper {
            .header-logo {
                img {
                    filter: invert(0);
                }
            }
            .header-icons {
                .search-menu-trigger-open,
                .search-menu-trigger-close,
                .cart-icon-img {
                    filter: invert(0);
                }
            }
            .header-menu {
                ul li a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                        opacity: 0.6;
                    }
                }
            }
        }
        .header-extra-menu .extra-menu {
            color: #fff;
            &:hover {
                color: #fff;
                opacity: 0.6;
            }
        }
    }

    &.woocommerce {
        &.product_cat_repair {
            margin-top: 0;
            padding-top: 0;
            &:not(.search-menu-open) {
                .header-wrapper {
                    .header-logo,
                    .header-icons {
                        img {
                            filter: invert(0);
                        }
                    }
                    .header-menu {
                        ul li a {
                            color: #fff;
                            &:hover {
                                color: #fff;
                                opacity: 0.6;
                            }
                        }
                    }
                }
                .header-extra-menu .extra-menu {
                    color: #fff;
                    &:hover {
                        color: #fff;
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

body {
    &.category_parent_smartphone,
    &.category_parent_laptops,
    &.category_parent_tablets {
        &.woocommerce {
            ul.products {
                li.product {
                    .price {
                        display: none;
                    }
                }
            }
        }
    }
}
