.header-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: "mont-extralight";

    .header-logo {
        padding-right: 15px;
    }

    .header-menu {
        display: flex;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        ul {
            display: block;
            li {
                display: inline-block;
                line-height: 50px;
                margin: 0 15px;
                a {
                    color: white;
                    text-decoration: none;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .header-icons {
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        align-items: center;
        .search-icon {
            padding-right: 20px;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }
        .cart-icon {
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.fs-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: white;
    z-index: 10;
    display: none;
    &.is-open {
        display: flex;
    }
}

.fsmenu-list-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 80px;
    background-color: #000;
}
.fsmenu-infos {
    flex: 0 0 270px;
    font-family: satoshi;
    font-size: 25px;
    padding: 150px 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.fsmenu-list {
    flex-grow: 1;
    ul {
        &.is-hover {
            li.current_page_item {
                a {
                    &:not(:hover) {
                        opacity: 0.2;
                    }
                }
            }
        }
        li {
            position: relative;
            max-width: 600px;
            list-style: none;
            margin-bottom: 30px;
            padding-right: 50px;

            &:hover {
                &::before,
                &::after {
                    content: "";
                }
            }

            &:before {
                position: absolute;
                left: 100%;
                width: 36vh;
                height: 36vh;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &.acceuil-menulink,
            &.contact-menulink {
                &:before {
                    content: none;
                }
            }

            &.reparation-menulink {
                &:before {
                    background-image: url(../images/reparation-menu.jpg);
                }
            }
            &.acheter-menulink {
                &:before {
                    background-image: url(../images/acheter-menu.jpg);
                }
            }
            &.vendre-menulink {
                &:before {
                    background-image: url(../images/vendre-menu.jpg);
                }
            }
            &.assurance-menulink {
                &:before {
                    bottom: -20%;
                    background-image: url(../images/assurances-menu.jpg);
                }
            }
            &.accessoires-menulink {
                &:before {
                    bottom: -10%;
                    background-image: url(../images/accessoires-menu.jpg);
                }
            }
            &.current_page_item {
                a {
                    opacity: 1;
                    text-decoration: underline;
                    &:after,
                    &:before {
                        content: "";
                    }
                }
            }
            a {
                position: relative;
                opacity: 0.2;
                color: white;
                text-decoration: none;
                font-size: calc(3vh + 3vw);
                font-family: mont-heavy;
                line-height: 1;
                &:hover {
                    text-decoration: underline;
                    color: rgb(58, 58, 58);
                    opacity: 1;
                    &:after,
                    &:before {
                        content: "";
                    }
                }
                &:before {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    left: 100%;
                    background-image: url(../../../themes/urbak/images/arrow-menu.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    height: 100%;
                    margin-left: 20px;
                }
                .main-menu-text {
                    display: none;
                }
            }
        }
    }
}
.fsmenu-close {
    flex: 0 0 55px;
    span {
        color: #fff;
        font-family: satoshi;
        font-size: 20px;
        border-bottom: 1px solid white;
        cursor: pointer;
        &:hover {
            opacity: 0.6;
        }
    }
}
.fsmenu-languages {
    display: none;
    flex-grow: 1;
    align-items: center;
}
.fsmenu-logo {
    padding-top: 35px;
}
.fsmenu-telephone {
    padding-top: 25px;
}
.fsmenu-email {
    padding-top: 25px;
}
.fsmenu-address {
    padding-top: 25px;
}
.fsmenu-social {
    display: flex;
    padding-top: 25px;
    .fsmenu-insta {
        margin-right: 25px;
        img {
            height: 30px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .fsmenu-fb {
        img {
            height: 25px;
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

body {
    &.woocommerce {
        padding-top: 150px;
        .header-wrapper {
            .header-logo,
            .search-icon,
            .cart-icon {
                img {
                    filter: invert(1);
                }
            }
            .header-menu {
                ul {
                    li {
                        a {
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
 .black-menu {
    height: 180px;
    background-color: black;
   }
//   .black-fonts .header-wrapper .header-menu ul li a{
//     color:black;
//     &:hover{
//       opacity:1;
//     }
//   }
//   .black-fonts .woocommerce img
//   {
//     filter:invert(1);
//   }
