.product_cat-acheter .entry-summary {
    .cart {
        .wapf-wrapper {
            .wapf-field-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .wapf-field-row {
                    width: 50%;
                }
            }
        }
    }
}
.product_cat-repair .entry-summary {
    .cart {
        .wapf-wrapper {
            .wapf-field-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .wapf-field-row {
                    width: 25%;
                }
            }
        }
    }
}
.product_cat-acheter {
    display: flex;
    flex-direction: row;
}
.product_cat-repair {
    display: flex;
    flex-direction: row;
}
.product_cat-accessoires {
    display: flex;
    flex-direction: row;
    form {
        display: flex;
        justify-content: flex-end;
    }
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    padding-left: 100px;
}
.woocommerce div.product form.cart .button {
    width: 40%;
    float: right;
}
.product-description-field {
    textarea {
        min-height: 250px;
    }
}
.wapf-checkable {
    display: flex;
}
span.wapf-label-text {
    display: flex;
    flex-direction: column;
}
.wapf-checkboxes {
    display: flex;
    flex-wrap: wrap;
}
.wapf-checkable {
    display: flex;
    margin: 20px;
    flex: 0 0 calc(25% - 40px);
}
.woocommerce-tabs,
.product_meta {
    display: none;
}
.woocommerce-product-gallery--with-images {
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}
.woocommerce div.product p.price {
    font-family: mont-extralight;
    font-size: 50px;
    color: #000;
}

.product-tittle-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1.entry-title {
    font-family: mont-heavy;
    font-size: 50px;
}
.woocommerce-product-details__short-description {
    font-family: satoshi;
    font-size: 20px;
}
.wapf-field-group {
    select {
        font-family: satoshi;
        font-size: 20px;
        height: 50px;
        border-radius: 10px;
    }
}
.woocommerce-error {
    display: none;
}
.woocommerce-cart {
    .woocommerce {
        font-family: satoshi;
        thead,
        tbody {
            font-size: 20px;
        }
        .actions {
            display: none;
        }
        .product-thumbnail {
            img {
                height: 150px;
                width: 150px;
            }
        }
    }
}
.woocommerce table.shop_table {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
}
.woocommerce .products ul,
.woocommerce ul.products {
    flex-wrap: wrap;
    display: flex;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    display: flex;
    justify-content: center;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    padding: 100px 0px;
}
.woocommerce a.button.alt {
    background-color: #000;
}
.woocommerce table.shop_table td a {
    color: #6b6b6b;
    text-decoration: none;
}
button.single_add_to_cart_button.button.alt {
    width: 100%;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
}
.quantity {
    display: none;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-family: satoshi;
    font-size: 25px;
    color: black;
    text-align: center;
}
.woocommerce ul.products li.product .price {
    font-size: 20px;
    font-family: satoshi;
    color: #6b6b6b;
    text-align: center;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: calc(33.33% - 15px);
    margin-right: 15px;
    padding: 0;
}
.woocommerce ul.products li.product .button {
    display: none;
}

.woocommerce-Price-currencySymbol{
    margin-right: 15px;
}

//loop of woocommerce products
.woocommerce{
    ul.products{
        li.product{
            a{
                display:block;
                width: 100%;
                overflow: hidde;
                img{
                    width: calc(100% - 60px);
                    height: calc(100% - 160px);
                    max-height: 300px;
                    padding: 30px;
                    display: block;
                    box-shadow: none;
                    display: flex;
                    justify-content: center;
                    object-fit: contain;
                    object-position: center;
                    background-color: #f7f7f7;
                }
                &:hover{
                    img{
                        background-color: #f2f2f2;
                    }
                }
            }
        }   
    } 
} 
//accessoires product page
.product_cat-accessoires {
    .entry-summary .cart .wapf-wrapper .wapf-field-group .wapf-field-row {
        width: 60%;
    }
}
.info-desc {
    &.show {
        .text-desc {
            height: 100%;
            z-index: 11;
            width: 100%;
        }
    }
    .text-desc {
        font-family: satoshi;
        font-size: 15px;
        height: 0px;
        width: 0px;
        z-index: -10;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}
.title-desc {
    font-size: 20px;
    font-family: satoshi;
    cursor: pointer;
}
.woocommerce form .form-row input.input-text{
    width: 100%;
    background: 0 0;
    height: 40px;
    border-bottom: #000 1px solid;
    color: #000;
    outline: 0;
    font-family: satoshi;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.select2-container--default .select2-selection--single{
    background: 0 0;
    height: 40px;
    border: 1px solid black;
    color: #000;
    outline: 0;
    font-family: satoshi;
    font-size: 18px;
    display:flex;
    align-items: center;
    color:#000;
    .select2-selection__rendered{
        color:#000;
    }

}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    display: flex;
    align-self: center;
    height: 100%;
}
#billing_company_field{
    display:none;
}
.woocommerce form .form-row{
    label{
        display:none;
    }
}
