.product_cat-acheter .entry-summary {
    .cart {
        .wapf-wrapper {
            font-family: satoshi;

            .wapf-field-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .wapf-field-row {
                    width: 50%;
                }
            }
        }
    }
}
.product_cat-repair .entry-summary {
    .cart {
        .wapf-wrapper {
            .wapf-field-group {
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-start;
                .wapf-field-row {
                    width: 25%;
                }
            }
        }
    }
}
.product_cat-acheter {
    display: flex;
    flex-direction: row;
}
.product_cat-repair {
    display: flex;
    flex-direction: row;
}
.product_cat-accessoires {
    display: flex;
    flex-direction: row;
    form {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-content: flex-end;
    }
}
.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
    padding-left: 100px;
}
.woocommerce div.product form.cart .button {
    width: 40%;
    float: right;
}
.product-description-field {
    textarea {
        min-height: 250px;
    }
}
.wapf-checkable {
    display: flex;
}
span.wapf-label-text {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-size: 20px;
    .wapf-pricing-hint {
        font-size: 18px;
    }
}
.wapf-checkboxes {
    display: flex;
    flex-wrap: wrap;
}
.wapf-checkable {
    display: flex;
    margin: 20px;
    flex: 0 0 calc(25% - 40px);
}
.woocommerce-tabs,
.product_meta {
    display: none;
}
.woocommerce-product-gallery--with-images {
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}
.woocommerce div.product p.price {
    font-family: mont-extralight;
    font-size: 50px;
    color: #000;
}

.product-tittle-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1.entry-title {
    font-family: mont-heavy;
    font-size: 50px;
}
.woocommerce-product-details__short-description {
    font-family: satoshi;
    font-size: 20px;
}
.wapf-field-group {
    select {
        font-family: satoshi;
        font-size: 20px;
        height: 50px;
        border-radius: 10px;
    }
}
.woocommerce-error {
    display: none;
}
.woocommerce-cart {
    .woocommerce {
        font-family: satoshi;
        thead,
        tbody {
            font-size: 20px;
        }
        .actions {
            display: none;
        }
        .product-thumbnail {
            img {
                height: 150px;
                width: 150px;
            }
        }
    }
}
.woocommerce table.shop_table {
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
}
.woocommerce .products ul,
.woocommerce ul.products {
    flex-wrap: wrap;
    display: flex;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    display: flex;
    justify-content: center;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
    padding: 100px 0px;
}
.woocommerce a.button.alt {
    background-color: #000;
}
.woocommerce table.shop_table td a {
    color: #6b6b6b;
    text-decoration: none;
}
button.single_add_to_cart_button.button.alt {
    width: 100%;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
}
.woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-family: satoshi;
    font-size: 25px;
    color: black;
    text-align: center;
}
.woocommerce ul.products li.product .price {
    font-size: 20px;
    font-family: satoshi;
    color: #6b6b6b;
    text-align: center;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    width: calc(33.33% - 15px);
    margin-right: 15px;
    padding: 0;
}
.woocommerce ul.products li.product .button {
    display: none;
}

.woocommerce-Price-currencySymbol {
    margin-right: 15px;
}

//loop of woocommerce products
.woocommerce {
    ul.products {
        li.product {
            a {
                display: block;
                width: 100%;
                overflow: hidde;
                img {
                    width: calc(100% - 60px);
                    height: calc(100% - 160px);
                    max-height: 300px;
                    padding: 30px;
                    display: block;
                    box-shadow: none;
                    display: flex;
                    justify-content: center;
                    object-fit: contain;
                    object-position: center;
                    background-color: #f7f7f7;
                }
                &:hover {
                    img {
                        background-color: #f2f2f2;
                    }
                }
            }
        }
    }
}
//accessoires product page
.product_cat-accessoires {
    .entry-summary .cart .wapf-wrapper .wapf-field-group .wapf-field-row {
        width: 60%;
    }
}
.info-desc {
    &.show {
        .text-desc {
            height: 100%;
            z-index: 11;
            width: 100%;
        }
    }
    .text-desc {
        font-family: satoshi;
        font-size: 15px;
        height: 0px;
        width: 0px;
        z-index: -10;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}
.title-desc {
    font-size: 20px;
    font-family: satoshi;
    cursor: pointer;
}

.woocommerce form .form-row input.input-text {
    width: 100%;
    background: 0 0;
    height: 40px;
    border-bottom: #000 1px solid;
    color: #000;
    outline: 0;
    font-family: satoshi;
    font-size: 18px;
    border-left: none;
    border-right: none;
    border-top: none;
}

.product {
    .quantity {
        display: none;
    }
}

.select2-container--default .select2-selection--single {
    background: 0 0;
    height: 40px;
    border: 1px solid black;
    color: #000;
    outline: 0;
    font-family: satoshi;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #000;
    .select2-selection__rendered {
        color: #000;
    }
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: flex;
    align-self: center;
    height: 100%;
}
#billing_company_field {
    display: none;
}
.woocommerce form .form-row {
    label {
        display: none;
    }
}
body {
    &.archive {
        .woocommerce-ordering,
        .woocommerce-result-count {
            display: none;
        }
    }
}

.woocommerce div.product div.summary {
    display: flex;
    flex-direction: column;
    min-height: 548px;
}
.woocommerce-info,
.woocommerce-error,
.woocommerce-message {
    border-color: #333;
}
.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    &:before {
        content: none;
    }
    padding: 15px 30px;
}

.cart-dropdown {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 0;
    height: 0;
    background-color: #fff;
    min-height: 0;
    margin: 0;
    padding: 0;
    z-index: -9999;
    pointer-events: none;
    overflow: hidden;
    cursor: default;
    &.cart-open {
        max-height: 500px;
        width: 600px;
        height: auto;
        z-index: 5;
        pointer-events: all;
        padding: 80px 30px 30px 30px;
        height: 50vh;
        box-shadow: 0 0 24px -15px #00000094;
        display: flex;
        flex-direction: column;
        max-width: 80vw;
        overflow-y: auto;
        &.cart-dropdown-no-items {
            width: 300px;
            height: auto;
        }
    }
    ul.cart_list,
    ul.product_list_widget {
        flex-grow: 1;
        padding: 0;
        margin: 0;
        list-style: none outside;

        li.woocommerce-mini-cart-item {
            position: relative;
            display: flex;
            margin: 0;
            padding: 0;
            margin-bottom: 15px;
            padding-bottom: 15px;
            border-bottom: 1px solid #a5a5a5;
            list-style: none;
            cursor: default;
            &::before {
                content: none;
            }
            span {
                &.quantity {
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    flex-basis: 150px;
                }
            }
            .mini-cart-product-label {
                margin-top: 10px;
            }
            .mini-cart-qty,
            .mini-cart-product-cat {
                font-size: 20px;
                font-family: satoshi;
                font-weight: 300;
                color: #a5a5a5;
                margin-right: 5px;
            }
            .mini-cart-product-name {
                font-size: 20px;
                font-family: satoshi;
                font-weight: 400;
                color: #000;
            }
            .mini-cart-price {
                display: flex;
                flex-grow: 1;
                justify-content: flex-end;
                flex-basis: 100px;
                font-size: 20px;
                font-family: satoshi;
                font-weight: 400;
                color: #000;
            }
            a {
                display: flex;
                flex-grow: 1;
                font-weight: 700;
                align-items: flex-start;
                text-decoration: none;
                &.remove_from_cart_button {
                    align-self: flex-start;
                    margin: 0 0 0 15px;
                }
                &:hover {
                    img {
                        background-color: #f1f1f1;
                    }
                    .mini-cart-qty,
                    .mini-cart-product-cat,
                    .mini-cart-price,
                    .mini-cart-product-name {
                        opacity: 0.4;
                    }
                }
                &.remove {
                    position: absolute;
                    right: 5px;
                    bottom: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 22px;
                    height: 24px;
                    width: 24px;
                    line-height: 24px;
                    flex: 0 0 24px;
                    text-align: center;
                    border-radius: 100%;
                    color: red !important;
                    text-decoration: none;
                    font-weight: 700;
                    border: 0;
                    &:hover {
                        color: #fff !important;
                        background: red;
                    }
                }
            }
            img {
                max-height: 100px;
                flex: 0 0 100px;
                object-fit: contain;
                padding: 10px 5px;
                border-radius: 20px;
                background-color: #f7f7f7;
                margin-right: 15px;
            }
        }
    }

    .woocommerce-mini-cart__total {
        strong {
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            font-family: satoshi;
            font-weight: 400;
            color: #000;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #a5a5a5;
        }
        .woocommerce-Price-amount {
            display: flex;
            justify-content: flex-end;
            font-size: 20px;
            font-family: satoshi;
            font-weight: 400;
            color: #000;
        }
    }
}
div.wpforms-container-full .wpforms-form .wpforms-pagebreak-right .wpforms-page-button {
    margin: 0 0 0 0px;
    background: transparent;
    border: 1px solid transparent;
    &:hover {
        background: transparent;
        border: 1px solid transparent;
    }
}
.facade_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/facade-avant.svg);
    width: 31px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.batterie_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/batterie.svg);
    width: 51px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.hublot_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/hublot.svg);
    width: 51px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.bouton_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/bouton.svg);
    width: 41px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.facade2_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/facade-arrere.svg);
    width: 34px;
    height: 61px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.camera_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/camera.svg);
    width: 31px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.camera2_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/camera-2.svg);
    width: 61px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.connecteur_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/connecteur.svg);
    width: 42px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.tiroir_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/tiroir.svg);
    width: 31px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.enceinte_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/enceinte.svg);
    width: 52px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.vibreur_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/tiroir.svg);
    width: 31px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.prise_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/prise.svg);
    width: 38px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.puce_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/puce.svg);
    width: 31px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.hauts_custom_field .wapf-field-input label:after {
    content: "";
    background-image: url(../images/hublot.svg);
    width: 47px;
    height: 58px;
    display: flex;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
}
.wapf-field-input input[type="checkbox"] {
    width: 100%;
}
.woocommerce-product-gallery--with-images {
    height: fit-content;
}
.wapf-field-container label[for] {
    position: relative;
}
.product_cat-repair {
    .product-tittle-price {
        .price {
            display: none;
        }
    }

    .wapf--inner div:first-child,
    .wapf--inner div:last-child {
        display: none;
    }
}
.wapf--inner {
    font-family: satoshi;
    font-size: 24px;
}
