section.accessoires {
    height: 100vh;
    overflow: hidden;
    position: relative;
    .container {
        height: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent),
            linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    }
    .phone {
        position: absolute;
        left: 0;
        top: 10%;
        z-index: -1;
    }
    .airpods {
        position: absolute;
        top: 10%;
        right: 0;
        z-index: -1;
    }
    .accessoires-center-text {
        font-size: 200px;
        font-family: mont-heavy;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        color: white;
    }
}
.accesoires-title {
    font-family: satoshi;
    font-size: 25px;
}
.accessories-smartphone {
    font-family: mont-heavy;
    font-size: 50px;
}
.slide-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    flex: 0 0 calc(33% - 30px);
    margin: 0 15px;
    align-items: center;
    a {
        display: block;
        width: 100%;
        text-decoration: none;
        .slide-product-box {
            display: flex;
            width: 100%;
            flex-direction: column;
        }
        .slide-product-label {
            display: block;
            text-align: center;
            margin-top: 15px;
            font-size: 25px;
            font-family: satoshi;
            font-weight: 500;
            text-decoration: none;
            color: #000;
        }
        img {
            height: 250px;
            width: auto;
            background: #f7f7f7;
            object-fit: contain;
            padding: 30px;
        }
    }
}
.slide-picture {
    display: flex;
    height: 100%;
    background: #f7f7f7;
    justify-content: center;
    padding: 80px 0px;
    img {
        object-fit: contain;
    }
}
.accessories-all-slide {
    display: flex;
}
.slider-name {
    font-family: satoshi;
    font-size: 22px;
}

.accesoires-title {
    padding-bottom: 30px;
}
.accessories-smartphone {
    padding-bottom: 50px;
}
.second {
    padding: 130px 0px;
}

.accessoires-smartphones-category {
    padding-top: 80px;
    overflow: hidden;
    position: relative;
    margin-bottom: 80px;
}
