
section.accessoires {
    height: 100vh;
    overflow: hidden;
    position: relative;
    .container {
        height: 100%;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        background-repeat: no-repeat;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent),
            linear-gradient(to top, rgba(0, 0, 0, 0.35), transparent);
    }
    .phone {
        position: absolute;
        left: 0;
        top: 10%;
        z-index: -1;
    }
    .airpods {
        position: absolute;
        top: 10%;
        right: 0;
        z-index: -1;
    }
    .accessoires-center-text {
        font-size: 200px;
        font-family: mont-heavy;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        color: white;
    }
}
.accesoires-title{
    font-family:satoshi;
    font-size:25px;
}
.accessories-smartphone{
    font-family:mont-heavy;
    font-size:50px;
}
.slide-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    flex: 0 0 calc(33% - 30px);
    margin-right: 30px;
}
.slide-picture {
    display: flex;
    height: 100%;
    background: #F7F7F7;
    justify-content: center;
    padding: 80px 0px;
    img {
        object-fit: contain;
    }
}
.accessories-all-slide{
    display:flex;
}
.slider-name{
    font-family:satoshi;
    font-size:22px;
}
.first{
    padding-top: 80px;
}
.accesoires-title{
    padding-bottom: 30px;
}
.accessories-smartphone{
    padding-bottom: 50px;
}
.second{
    padding:130px 0px;
}    

.accessoires-smartphones-category{
    padding-top: 80px;
    overflow: hidden;
    position: relative;
}
