section.assurance-page {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .container {
    height: 100%;
  }
  &::before {
    content: "";
    background-image: url(../../../themes/urbak/images/assurance-bigimage1.png);
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    left: 0;
    background-size: cover;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0deg, rgbA(255 255 255/45%), rgbA(255 97 0/14%));
  }
  .lights-and-tech {
    .apple-watch {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: -1;
    }
    .iphone {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      z-index: -1;
    }
  }
  .assurance-center-text {
    font-family: mont-heavy;
    font-size: 200px;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
section.assurance-form {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  .container {
    height: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #0000004a;
    z-index: -1;
  }
  &::before {
    content: "";
    background-image: url(../../../themes/urbak/images/assurance-bigimage.jpg);
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    left: 0;
    background-size: cover;
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.assurance-form .form-input input,.assurance-form  .form-input select,.assurance-form  textarea{
  border-bottom: #fff 1px solid;
  color: #fff;
  &::placeholder {
    font-family: satoshi;
    font-size: 18px;
    color: white;
  }
  &:focus {
    border-bottom: 1px solid white;
  }
}
.assurance-form-info{
  color:white;
}
.assurance-page-bottom{
  color:white;
  display:flex;
  align-items:center;
  cursor: pointer;
  span{
    display:flex;
    padding-left: 15px;
  }
}
.assurance-form-top,
.assurance-form-rows,
.assurance-page-bottom{
  width: 55%;
}
.assurance-form-top {
  padding-top: 90px;
  padding-bottom: 100px;
}
.assurance-top-pagename {
  padding-bottom: 30px;
}
.assurance-section-name{
  span{
    padding-left:20px
  }
}
.assurance-form-info{

    margin-bottom: 50px;
 
}
.assurance-form-info{
  .form-input{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  label{
    width:100%;
    font-size:20px;
  }
  .form-input-row .form-input select{
    width:50%;
  }
  .full-width{
    width: 100%  !important;
  }
}
.special-select{
  margin-left: 10px;
  width:calc(50% - 10px) !important;
}
.assurance-page-bottom{
  margin-top: 50px;
  margin-bottom: 100px;
}