.page-template-template-contact{
    form{
      margin-bottom: 100px;
      input.wpcf7-form-control.wpcf7-submit{
        background-color: transparent;
      border: none;
      color: black;
      font-size: 30px;
      font-family: satoshi;
      cursor: pointer;
      }
    }
  }
  